<div id="<%= dom_id service %>">
  <p>
    <strong>Name:</strong>
    <%= service.name %>
  </p>

  <p>
    <strong>Sku:</strong>
    <%= service.sku %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= service.price %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= service.duration %>
  </p>

</div>
