<%= form_with model: @workorder do |form| %>
  <div>
    <%= form.label :customer %></br>
    <%= form.text_field :customer %></br>
    <% @workorder.errors.full_messages_for(:customer).each do |message|%>
      <div><%= message %>
    <% end %>
  </div>

  <div>
    <%= form.label :item %></br>
    <%= form.text_area :item %></br>
    <% @workorder.errors.full_messages_for(:item).each do |message|%>
      <div><%= message %>
    <% end %>
  </div>

  <div>
    <%= form.label :item %></br>
    <%= form.select :status, ['Open', 'In Progress', 'Complete', 'Waiting Parts', 'Customer Notified', 'Invoiced'] %></br>
    <% @workorder.errors.full_messages_for(:item).each do |message|%>
      <div><%= message %>
    <% end %>
  </div>

  <div class="controls">
    <%= form.submit class:"btn btn-primary mt-2" %>
  </div>
<% end %>