<h1>Work Orders</h1>

<%= link_to(new_workorder_path) do %>
  <button type="button" class="btn btn-primary">New Workorder</button>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Customer</th>
      <th scope="col">Item</th>
      <th scope="col">Status</th>
      <th scope="col">Created</th>
      <th scope="col">Last Changed</th>
      <th scope="col">Created by</th>
    </tr>
  </thead>
  <tbody>
    <% @workorders.each do |wo| %>
      <tr>
        <td><%= link_to wo.id,  edit_workorder_path(wo.id) %></td>
        <td><%= wo.customer %></td>
        <td><%= wo.item %></td>
        <td><%= wo.status %></td>
        <td><%= wo.created_at %></td>
        <td><%= wo.updated_at %></td>
        <td><%= link_to wo.user.name, user_path(wo.user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>