<div class="container">
  <h3>Customer</h3>
  <p><%= @workorder.customerName %></p>
  <h3>Item</h3>
  <p><%= @workorder.itemDesc %></p>
  <h5>Status</h5>
  <p><%= @workorder.status %></p>

  <h4>Comments</h4>

  <%= render 'comments/form', 
    workorder: @workorder, 
    comment: @workorder.comments.build, 
    submit_label: "Post Comment" %>

  <br/>

  <% @comments.each do |comment| %>
    <%= render 'comments/comment', 
    workorder: @workorder, 
    comment: comment %>
  <% end %>
</div>