<h4>Make</h4>
<p><%= cust_item.make %></p>
<h4>Model</h4>
<p><%= cust_item.model %></p>
<h4>Color</h4>
<%= cust_item.color %>
<p>Size</p>
<%= cust_item.size %>

<div id="<%= dom_id cust_item %>">
</div>
