<%= form_with(model: cust_item) do |form| %>
  <% if cust_item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cust_item.errors.count, "error") %> prohibited this cust_item from being saved:</h2>

      <ul>
        <% cust_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field(:form, :customer_id, :value => params[:cust]) %>

  <div class="col-md-6">
    <%= form.label "Make", class:"form-label" %>
    <%= form.text_field :make, class:"form-control" %>
  </div>
  <div class="col-md-6">
    <%= form.label 'Model', class:"form-label" %>
    <%= form.text_field :model, class:"form-control" %>
  </div>
  <div class="col-md-6">
    <%= form.label "Color", class:"form-label" %>
    <%= form.text_field :color, class:"form-control" %>
  </div>
  <div class="col-md-6">
    <%= form.label "Size", class:"form-label" %>
    <%= form.text_field :size, class:"form-control" %>
  </div>

  <div>
    <%= form.submit class:"btn btn-primary"%>
    <%= link_to "Cancel", customer_path(params[:cust]), class: "btn btn-primary"%>
  </div>
<% end %>
