<%= form_with(model: product, :html => {class: "row g-3"}) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="details row">
    <h5>Details</h5>
    <div class="col-md-6">
      <%= form.label "Name", class:"form-label" %>
      <%= form.text_field :name, class:"form-control" %>
    </div>
    <div class="col-md-6">
      <%= form.label "Brand", class:"form-label" %>
      <%= form.text_field :brand, class:"form-control" %>
    </div>
    <div class="col-md-12">
      <%= form.label "Category", class:"form-label" %>
      <%= form.text_field :category, class:"form-control" %>
    </div>
    <div class="col-md-6">
      <%= form.label :sku, class:"form-label" %>
      <%= form.text_field :sku, class:"form-control" %>
    </div>
    <div class="col-md-6">
      <%= form.label :upc, class:"form-label" %>
      <%= form.number_field :upc, class:"form-control" %>
    </div>
  </div>
  <div class="pricing row">
    <h5>Pricing</h5>
    <div class="col-md-3">
      <%= form.label :price, class:"form-label" %>
      <%= form.text_field :price, class:"form-control" %>
    </div>
    <div class="col-md-3">
      <%= form.label :cost, class:"form-label" %>
      <%= form.text_field :cost, class:"form-control" %>
    </div>
  </div>
  <div class="inventory-options row">
    <h5>Inventory Control</h5>
    <div class="col-md-3">
      <%= form.label :stock, class:"form-label" %>
      <%= form.number_field :stock, class:"form-control" %>
    </div>
    <div class="col-md-3">
      <%= form.label :min, class:"form-label" %>
      <%= form.number_field :min, class:"form-control" %>
    </div>
    <div class="col-md-3">
      <%= form.label :max, class:"form-label" %>
      <%= form.number_field :max, class:"form-control" %>
    </div>
  </div>
  <% if params[:action] === 'edit' %>
    <div class="options">
      <h5>Options</h5>
      <div class="col-md-6">
        <%= form.check_box :inventory, class:"form-check-control" %>
        <%= form.label :inventory, class:"form-label" %>
      </div>
      <div class="col-md-6">
        <%= form.check_box :taxable, class:"form-check-control" %>
        <%= form.label :taxable, class:"form-label" %>
      </div>
    </div>
  <% else %>
    <div class="options">
      <h5>Options</h5>
      <div class="col-md-6">
        <%= form.check_box :inventory, class:"form-check-control", checked: true %>
        <%= form.label :inventory, class:"form-label" %>
      </div>
      <div class="col-md-6">
        <%= form.check_box :taxable, class:"form-check-control", checked: true %>
        <%= form.label :taxable, class:"form-label" %>
      </div>
    </div>
  <% end %>

  <% if params[:action] === 'edit' %>
    <div class="options">
      <h5>Labour Details</h5>
      <div class="col-md-6">
        <%= form.check_box :labour, class:"form-check-control" %>
        <%= form.label :labour, class:"form-label" %>
      </div>
      <div class="col-md-12">
        <%= form.label "Labour Time In Minutes", class:"form-label" %>
        <%= form.text_field :labourTime, class:"form-control" %>
      </div>
    </div>
  <% else %>
    <div class="labour">
      <h5>Labour Details</h5>
      <div class="col-md-6">
        <%= form.check_box :labour, class:"form-check-control" %>
        <%= form.label :labour, class:"form-label" %>
      </div>
      <div class="col-md-3">
      <%= form.label "Labour Time In Minutes", class:"form-label" %>
      <%= form.text_field :labourTime, class:"form-control" %>
      </div>
    </div>
  <% end %>

  <h5>Images</h5>
  <div class="col-md-12">
    <%= form.label "Image URL", class:"form-label" %>
    <%= form.text_field :image, class:"form-control" %>
  </div>
  <div class="dimensions row">
    <h5>Dimensions</h5>
    <div class="col-md-3">
      <%= form.label :weight, class:"form-label" %>
      <%= form.text_field :weight, class:"form-control" %>
    </div>
    <div class="col-md-3">
      <%= form.label :height, class:"form-label" %>
      <%= form.text_field :height, class:"form-control" %>
    </div>
    <div class="col-md-3">
      <%= form.label :length, class:"form-label" %>
      <%= form.text_field :length, class:"form-control" %>
    </div>
    <div class="col-md-3">
      <%= form.label :width, class:"form-label" %>
      <%= form.text_field :width, class:"form-control" %>
    </div>
  </div>
  <div class="col-12">
    <%= form.submit class:"btn btn-primary" %>
    <%= link_to "Cancel", @product, class: "btn btn-danger" %>
  </div>
<% end %>