<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Sku:</strong>
    <%= product.sku %>
  </p>

  <p>
    <strong>Upc:</strong>
    <%= product.upc %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= product.cost %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= product.stock %>
  </p>

  <p>
    <strong>Min:</strong>
    <%= product.min %>
  </p>

  <p>
    <strong>Max:</strong>
    <%= product.max %>
  </p>

  <p>
    <strong>Inventory:</strong>
    <%= product.inventory %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= product.image %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= product.weight %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= product.height %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= product.length %>
  </p>

  <p>
    <strong>Width:</strong>
    <%= product.width %>
  </p>

</div>
